<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="dark-form" *ngIf="proLab">
    <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombrePro">Nombre del Proyecto</label>
                <input type="text" class="form-control" id="nombrePro" name="nombrePro" [(ngModel)]="proLab.nombrePro" required>
            </div>
            <div class="form-group">
                <label for="descripcionPro">Descripción del proyecto</label>
                <input type="text" class="form-control" id="descripcionPro" name="descripcionPro" [(ngModel)]="proLab.descripcionPro" required>
            </div>
            <div class="form-group">
                <label for="imgPro">Imagen del proyecto</label>
                <input type="text" class="form-control" id="imgPro" name="imgPro" [(ngModel)]="proLab.imgPro" required>
            </div>
            <button class="btn btn-success">Actualizar proyecto</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>