<div class="container">
    <div class="row">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombrePro">Nombre del Proyecto</label>
                <input type="text" class="form-control" id="nombrePro" name="nombrePro" [(ngModel)]="nombrePro" required>
            </div>
            <div class="form-group">
                <label for="descripcionPro">Descripcion del proyecto</label>
                <input type="text" class="form-control" id="descripcionPro" name="descripcionPro" [(ngModel)]="descripcionPro" required>
            </div>
            <div class="form-group">
                <label for="imgPro">Imagen del proyecto</label>
                <input type="text" class="form-control" id="imgPro" name="imgPro" [(ngModel)]="imgPro" required>
            </div>
            <button class="btn btn-success">Agregar proyecto</button>
        </form>
    </div>
</div>
