<div class="row">
        <div class="container" id="header">  
                <div class="logo">
                        <img src="../../../assets/APLogo.png" class="logo" id="logoArgProg" > 
                </div>
                <div>
                        <a href=""> <img src="../../../assets/linkedin.png" class="social" id="linkedin"></a>
                        <a href=""> <img src="../../../assets/github.png"  class="social" id="github"></a>
                        <a href=""> <img src="../../../assets/facebook.png" class="social" id="facebook"></a>
                        <a href=""> <img src="../../../assets/twitter.png"  class="social" id="twitter"></a>
                        <a href=""> <img src="../../../assets/instagram.png" class="social" id="instagram"></a> 
                        <button type="button" class="btn btn-outline-success" (click)="login()">Inicio sesión</button> 
                </div>     
                
        </div>
</div>
<div> <img src="../../../assets/fondo2.jpg" id="portada" class="img-fluid"> </div>


