.row {
    padding: 20px;
}

div {
    background-color: #11243a;
    text-align: center;
    color: white;
}

@media (min-width: 576px) {
    #fotoperfil{
        position: absolute;
        border-radius:100%;
        box-shadow: 5px 5px 5px black;
        width: 15%;
        left: 2%;
        top: 750px;
    }
}

@media (max-width: 576px) {
    #fotoperfil{
        position: absolute;
        border-radius:100%;
        box-shadow: 5px 5px 5px black;
        width: 30%;
        left: 33%;
        top:630px;
    }
}

#nombre {
    font-weight: bold;
    margin-top:20%;
}