<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-12">
    <ul>
        <li>
            <h1>Estudio 1</h1> - <h3> (years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quaerat sit, dolorem pariatur repellat optio quis quasi quae odit provident ipsa incidunt? Veniam nulla eligendi sequi necessitatibus molestias amet? Iste!</p>
    </ul>
    <ul>
        <li>
            <h1>Estudio 2</h1> - <h3> (years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quaerat sit, dolorem pariatur repellat optio quis quasi quae odit provident ipsa incidunt? Veniam nulla eligendi sequi necessitatibus molestias amet? Iste!</p>
    </ul>
</div>
</div>
