.row {
    padding: 40px;
    color: white;
}

.table{
    color: white;
    border-color:#11243a ;
}
div {
    background-color: #11243a;
    color: white;
}

h1, h4 {
    display: inline;
    padding: 10px;
}