<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <img src="../../../assets/foto cv.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-xl-3">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p class="formacion">{{persona.formacion}}</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 col-xl-6 acerca-de">
        <span>
            <h1>Acerca de mí</h1>
            <p class="descripcion">{{persona.descripcion}}</p>
        </span>
    </div>
    <div *ngIf="isLogged"> <button class="btn btn-success" routerLink="/editper/{{persona.id}}" >
        <i class="bi bi-pencil-square"></i>EDITAR</button> 
    </div>
</div>
