<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="dark-form" *ngIf="pers">
    <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre de la Persona</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="pers.nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido de la Persona</label>
                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="pers.apellido" required>
            </div>
            <div class="form-group">
                <label for="img">Imagen de la Persona</label>
                <input type="text" class="form-control" id="img" name="img" [(ngModel)]="pers.img" required>
            </div>
            <div class="form-group">
                <label for="formacion">Formación de la Persona</label>
                <input type="text" class="form-control" id="formacion" name="formacion" [(ngModel)]="pers.formacion" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción de la Persona</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="pers.descripcion" required>
            </div>
            <button class="btn btn-success">Actualizar Persona</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>