#header {
    height: 102px;
    top: 0;
    left: 0;
    position:fixed;
}

.container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05101c;
}

#logoArgProg {
    width: 150px;
    margin-left: 40px;
}

.social {
    width: 40px;
    margin-right: 0.5em;
    align-items: right;
}

.btn{
    border-width: medium;
}


/* para vista movil*/
@media (max-width: 576px){
    #header{
        position:static;
        height:auto;
    }
    .container {
        display: flex;
        flex-direction: column;
       
    }
    #logoArgProg {
        margin-left:0px;
    }
    .social {
        display: flex;
        flex-direction:column;
        align-items: center;
        margin: 0.5em;
    }

}