<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success"  routerLink="/nuevaski" *ngIf="isLogged">
            Nueva Habilidad
        </button>
    </div>
  <div class="row">
    <div class="text-center col-sm-6 col-md-4 col-lg-4" id="skill-list" *ngFor="let Skills of ski">
        <circle-progress
                [percent]="Skills.porcentaje"
                [radius]="100"
                [imageSrc]="Skills.urlLogo"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
        ></circle-progress>
        <div *ngIf="isLogged"> <button class="btn btn-success" routerLink="/editski/{{Skills.id}}" >
            <i class="bi bi-pencil-square"></i>EDITAR</button> 
        </div>  
        <div *ngIf="isLogged" ><button class="btn btn-danger" (click)="delete(Skills.id)" >
            <i class="bi bi-trash3"></i>BORRAR</button>
        </div>
    </div>
    </div>
</div>
   