<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class=" col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Smart-Agency</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur perspiciatis corrupti aperiam hic, deleniti tempore, soluta debitis quidem nostrum molestias autem. Molestiae optio ullam nostrum porro rerum expedita inventore doloremque.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-md-1 parte2">
            <img src="../../../assets/Smart-Agency.png" class="img-fluid">
        </div>
    </div>
</div>
